@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.log-grid {
  display: grid;
  grid-template-columns: 20px 160px 24px 130px 1fr;
  column-gap: 0.5rem;
}